<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error debitis, repellat iusto sint maxime dolorum, rerum, consequuntur exercitationem consectetur itaque vel modi. Totam dolores tenetur earum tempora distinctio, praesentium blanditiis!</p>

<%- include("footer") -%>
